<h1>Welcome to Prime Porcelain</h1>
<h2>The leader in Bathroom referall</h2>
<%= link_to "Add a Bathroom", new_bathroom_path, :class => "new-bathroom" %>
<div id="create-bathroom">
</div>
<p class="errors"></p>
<div class="bathroom-container">
<%@bathrooms.each do |bathroom| %>
<ul class="accordion" data-accordion data-allow-all-closed="true">
  <liclass="accordion-item is-active" data-accordion-item><%= link_to bathroom.location, bathroom_path(bathroom), :class => "accordion-title"  %>
  <div class="accordion-content" data-tab-content>
    <%= bathroom.description %>
    <%= link_to bathroom.location, bathroom_path(bathroom) %>
  </div>
<%end%>
</div>
