.header {
	text-align: center;
	font-family: 'Cinzel Decorative', cursive;
}

#link-header {
	margin-left: 45%;
	margin-right: 45%;
}

.bathroom {
	padding: 5px;
	border: 1px solid black;
	width: 50em;
	margin: 0em 30em 3em 20em;
}

#search-form {
	width: 50%;
	margin-right: 25%;
	margin-left: 35%;
}

nav ul {
	list-style: none;
	display: inline-block;
}

nav ul li {
	display: inline-block;
}

body {
	background-color: #FFFFF0;
}