<!DOCTYPE html>
<html>
<head>
  <title>BathroomApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="#">Options</a>

        <ul class="menu">
          <%if logged_in? %>
            <li><a href="/logout">Logout</a></li>
          <%else%>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign Up!</a></li>
          <%end%>
            <li><a href="/">Home</a></li>
        </ul>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
